@tailwind base;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  @apply antialiased;
}

.text-mono {
  font-family: 'SF Mono', 'SFMono-Regular', ui-monospace, 'DejaVu Sans Mono', 'Menlo', 'Consolas',
    monospace;
}

.content {
  width: calc(100vw - 14rem);
}

.content main {
  width: 100%;
}

.content aside {
  width: 100%;
}
a:focus {
  outline: none;
}
@screen xl {
  .content main {
    width: calc(100% - 24rem);
  }

  .content aside {
    width: 24rem;
  }
}
.markdown {
  @apply leading-relaxed;
}
.markdown code {
  @apply rounded-sm bg-gray-200 text-xs dark:bg-elevation-2;
  padding: 2px 4px;
}
.markdown :last-child {
  @apply mb-0;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown p,
.markdown ul {
  @apply mb-2;
}

.markdown h1 {
  @apply font-bold;
}

.page-error {
  @apply m-2 flex w-full items-center justify-center overflow-y-auto overflow-x-hidden px-5 py-3;
}

.page-error > div {
  @apply grid max-w-lg place-content-center justify-items-center rounded-md border px-12 py-8 text-center text-gray-500 dark:border-gray-700;
}

.page-error > div > div {
  @apply mb-6 last:mb-0;
}

.page-error > div a {
  @apply text-blue-400;
}
