@tailwind base;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  @apply antialiased;
}

a {
  @apply dark:text-blue-500 dark:hover:text-blue-300;
}

.text-mono {
  font-family: 'SF Mono', 'SFMono-Regular', ui-monospace, 'DejaVu Sans Mono', 'Menlo', 'Consolas',
    monospace;
}

.content {
  width: calc(100vw - 14rem);
}

.content main {
  width: 100%;
}

.content aside {
  width: 100%;
}
a:focus {
  outline: none;
}
@screen xl {
  .content main {
    width: calc(100% - 24rem);
  }

  .content aside {
    width: 24rem;
  }
}
.markdown {
  @apply leading-relaxed;
}
.markdown code {
  @apply bg-elevation-2 text-xs rounded-sm;
  padding: 2px 4px;
}
.markdown :last-child {
  @apply mb-0;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown p,
.markdown ul {
  @apply mb-2;
}

.markdown h1 {
  @apply font-bold;
}
