@tailwind base;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  @apply antialiased;
}

.text-mono {
  font-family: 'SF Mono', 'SFMono-Regular', ui-monospace, 'DejaVu Sans Mono', 'Menlo', 'Consolas',
    monospace;
}

.content {
  width: calc(100vw - 14rem);
}

.content main {
  width: 100%;
}

.content aside {
  width: 100%;
}
a:focus {
  outline: none;
}
@screen xl {
  .content main {
    width: calc(100% - 24rem);
  }

  .content aside {
    width: 24rem;
  }
}
.markdown {
  @apply leading-relaxed;
}
.markdown code {
  @apply dark:bg-elevation-2 bg-gray-200 text-xs rounded-sm;
  padding: 2px 4px;
}
.markdown :last-child {
  @apply mb-0;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown p,
.markdown ul {
  @apply mb-2;
}

.markdown h1 {
  @apply font-bold;
}

.page-error {
  @apply w-full overflow-y-auto overflow-x-hidden px-5 py-3 m-2 flex justify-center items-center;
}

.page-error > div {
  @apply py-8 px-12 text-center max-w-lg border dark:border-gray-700 text-gray-500 grid place-content-center justify-items-center rounded-md;
}

.page-error > div > div {
  @apply mb-6 last:mb-0;
}

.page-error > div a {
  @apply text-blue-400;
}
