.btn {
  @apply flex items-center justify-center font-semibold text-xs disabled:opacity-60 disabled:cursor-not-allowed;
}

.btn:not(.plain) {
  @apply py-2 px-4 rounded;
}

.btn.default {
  @apply border dark:text-gray-300 bg-elevation-2 border-gray-200 dark:border-gray-700;
}

.btn.default:hover:not(:disabled) {
  @apply bg-elevation-3;
}

.btn.primary {
  @apply bg-green-500 text-gray-100 border border-green-500;
}

.btn.primary:hover:not(:disabled) {
  @apply bg-green-450 border border-green-450;
}
