.review {
  @apply flex flex-wrap text-sm dark:text-gray-300 text-gray-700 dark:bg-elevation-1 bg-white p-8 mb-10 space-y-7 border dark:border-gray-700 border-gray-200 rounded-md;
}

.review .field {
  @apply w-1/2;
}

.review .field.full {
  @apply w-full;
}

.review .field .key {
  @apply dark:text-gray-300 text-gray-700 font-semibold mb-2;
}

.review .field .value {
  @apply text-gray-500;
}

.instantiate-outcome {
  @apply mt-6 
}

.instantiate-outcome .body {
  @apply text-xs p-4
}

.instantiate-outcome .row {
  @apply flex items-center dark:text-gray-400
}

.instantiate-outcome .row:not(:last-child) {
  @apply mb-2
}

.instantiate-outcome .row div:last-child {
  @apply flex-1 text-left
}

.instantiate-outcome .row div:last-child {
  @apply text-right
}