@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');

@import './base.css';
@import './button.css';
@import './dropdown.css';
@import './sidebar.css';
@import './form.css';
@import './link.css';
@import './tabs.css';
@import './collapsible.css';
@import './call-results.css';
@import './instantiate.css';
@import './search.css';

@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'), local('Roboto-Light'),
    local('DroidSans'), local('Tahoma');
}

body {
  font-family: 'system';
} */

body {
  font-family: 'Karla';
}

.content {
  width: calc(100vw - 14rem);
}

.content main {
  width: 100%;
}

.content aside {
  width: 100%;
}

.__react_component_tooltip {
  font-family: Karla;
  font-weight: 400;
  font-size: 12px !important;
  background-color: #1a1d1f !important;
  border: 1px solid #3a424e !important;
  padding: 4px 12px !important;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-out !important;
  opacity: 0 !important;
  visibility: visible;
  z-index: 1001;
}

.__react_component_tooltip {
  visibility: visible;
  opacity: 1 !important;
}

@screen xl {
  .content main {
    width: calc(100% - 24rem);
  }

  .content aside {
    width: 24rem;
  }
}

@layer components {
  /* React Tabs */
  .react-tabs {
    @apply bg-transparent;
  }

  .react-tabs__tab-list {
    @apply flex border-b dark:border-gray-700 mb-8;
  }

  .react-tabs__tab {
    @apply flex items-center -bottom-0 relative list-none p-4 cursor-pointer text-gray-400;
  }

  .react-tabs__tab--selected {
    @apply border-b-2 dark:border-blue-400 border-blue-500 dark:text-blue-400 text-blue-500;
  }

  .react-tabs__tab--disabled {
    @apply text-gray-600 cursor-default;
  }

  .react-tabs__tab:focus {
  }

  .react-tabs__tab:focus:after {
  }

  .react-tabs__tab-panel {
    @apply hidden;
  }

  .react-tabs__tab-panel--selected {
    @apply block;
  }

  /* SIDEBAR */
  .sidebar-link-item {
    @apply dark:text-gray-300 text-gray-600 border w-full dark:border-gray-stroke border-gray-200 dark:bg-elevation-2 dark:hover:bg-elevation-2 hover:bg-gray-100 dark:hover:text-gray-300 group flex items-center px-2 py-2 text-base font-medium rounded-md;
  }

  .sidebar-link-icon {
    @apply mr-3 h-6 w-6 dark:text-gray-500 dark:group-hover:text-gray-300 group-hover:text-gray-500;
  }

  .btn-primary {
    @apply text-xs bg-green-500 hover:bg-green-600 mr-4 text-gray-100 font-bold py-2 px-4 rounded mt-8 disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .btn-secondary {
    @apply text-xs hover:underline text-gray-100 font-bold py-2 px-4 rounded mt-4 disabled:opacity-50 disabled:cursor-not-allowed;
  }
}
