.sidebar {
  @apply flex;
  width: 14rem;
  min-width: 14rem;
}

.sidebar .sidebar-inner {
  @apply flex min-h-full flex-col h-0 flex-1 border-r dark:border-gray-stroke border-gray-200 dark:bg-elevation-1 bg-white;
}

.sidebar .sidebar-inner .upper {
  @apply flex-1 flex flex-col pt-3 pb-4 overflow-y-auto;
}

.sidebar .sidebar-inner .upper nav {
  max-width: 14rem;
  @apply space-y-5;
}

.sidebar .sidebar-inner .upper nav > * {
  @apply px-3;
}

.sidebar .network-selection {
  @apply space-y-2;
}

.sidebar .connect-account {
  @apply font-semibold w-full text-center justify-center mt-2;
}

.sidebar .navigation {
  @apply space-y-2;
}

.sidebar .quick-links {
  @apply space-y-2;
}

.sidebar .section .header {
  @apply dark:text-gray-400 text-gray-600 text-xs font-medium py-1;
}

.sidebar .section .none-yet {
  @apply dark:text-gray-300 text-gray-400 text-xs pl-2;
}

.sidebar .footer {
  @apply flex-shrink-0 flex p-6;
}

.sidebar .footer > div {
  @apply flex justify-between flex-shrink-0 w-full;
}

.mobilemenu {
  @apply dark:bg-elevation-1;
}
