.sidebar {
  @apply flex;
  width: 14rem;
  min-width: 14rem;
}

.sidebar .sidebar-inner {
  @apply flex h-0 min-h-full flex-1 flex-col border-r border-gray-200 bg-white dark:border-gray-stroke dark:bg-elevation-1;
}

.sidebar .sidebar-inner .upper {
  @apply flex flex-1 flex-col overflow-y-auto pt-3 pb-4;
}

.sidebar .sidebar-inner .upper nav {
  max-width: 14rem;
  @apply space-y-5;
}

.sidebar .sidebar-inner .upper nav > * {
  @apply px-3;
}

.sidebar .network-selection {
  @apply space-y-2;
}

.sidebar .connect-account {
  @apply mt-2 w-full justify-center text-center font-semibold;
}

.sidebar .navigation {
  @apply space-y-2;
}

.sidebar .quick-links {
  @apply space-y-2;
}

.sidebar .section .header {
  @apply py-1 text-xs font-medium text-gray-600 dark:text-gray-400;
}

.sidebar .section .none-yet {
  @apply pl-2 text-xs text-gray-400 dark:text-gray-300;
}

.sidebar .footer {
  @apply flex flex-shrink-0 p-6;
}

.sidebar .footer > div {
  @apply flex w-full flex-shrink-0 justify-between;
}

.mobilemenu {
  @apply dark:bg-elevation-1;
}
