{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "env": {
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ],
  "plugins": [
    "header",
    "import",
    "@typescript-eslint",
    "eslint-plugin-react",
    "eslint-plugin-react-hooks"
  ],
  "overrides": [
    {
      "files": ["*.tsx", "*.js", "*.jsx", "*.ts"],
      "rules": {
        "no-undef": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/extensions": [".js", ".jsx", ".ts", ".tsx", ".cjs", ".json", ".css"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".cjs", ".json", ".css"]
      },
      "typescript": {
        "alwaysTryTypes": true,
        "project": "."
      }
    }
  },
  "rules": {
    "header/header": [
      2,
      "line",
      [
        {
          "pattern": " Copyright \\d{4}(-\\d{4})? @paritytech/contracts-ui authors & contributors",
          "template": " Copyright 2022 @paritytech/contracts-ui authors & contributors"
        },
        " SPDX-License-Identifier: GPL-3.0-only"
      ],
      2
    ],
    "indent": "off",
    "import/named": "off",
    "import/no-unresolved": "error",
    "import/default": "warn",
    "import/no-absolute-path": "error",
    "import/no-self-import": "error",
    "import/no-cycle": "error",
    "import/no-useless-path-segments": "warn",
    "import/no-named-as-default": "error",
    "import/no-named-as-default-member": "error",
    "import/no-deprecated": "error",
    "import/no-mutable-exports": "error",
    "import/first": "error",
    "import/no-duplicates": "error",
    "import/order": "warn",
    "import/newline-after-import": "warn",
    "@typescript-eslint/restrict-template-expressions": "off",
    "react/prop-types": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-misused-promises": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/display-name": "off",
    "react/react-in-jsx-scope": "off"
  }
}
