@tailwind base;

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('SFNSText-Light'), local('HelveticaNeueDeskInterface-Light'), local('LucidaGrandeUI'),
    local('Ubuntu Light'), local('Segoe UI Light'), local('Roboto-Light'), local('DroidSans'),
    local('Tahoma');
}

body {
  font-family: 'system';
}

a {
  @apply dark:text-blue-500 dark:hover:text-blue-300;
}

.text-mono {
  font-family: 'SF Mono', 'SFMono-Regular', ui-monospace, 'DejaVu Sans Mono', 'Menlo', 'Consolas',
    monospace;
}

.content {
  width: calc(100vw - 14rem);
}

.content main {
  width: 100%;
}

.content aside {
  width: 100%;
}

@screen xl {
  .content main {
    width: calc(100% - 24rem);
  }

  .content aside {
    width: 24rem;
  }
}
