@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  font-family: "system";
}

.sidebar {
  width: 14rem;
}

.content {
  width: calc(100vw - 14rem);
}

.content main {
  width: 100%;
}

.content aside {
  width: 100%;
}

@screen xl {
  .content main {
    width: calc(100% - 24rem);
  }

  .content aside {
    width: 24rem;
  }
}


@layer components {
  .react-tabs {
    @apply bg-transparent
  }

  .react-tabs__tab-list {
      @apply flex border-b dark:border-gray-700 mb-8
  }

  .react-tabs__tab {
      @apply flex items-center -bottom-0 relative list-none p-4 cursor-pointer text-gray-400
  }

  .react-tabs__tab--selected {
      @apply border-b-2 dark:border-blue-400 border-blue-500 dark:text-blue-400 text-blue-500
  }

  .react-tabs__tab--disabled {
      @apply text-gray-600 cursor-default
  }

  .react-tabs__tab:focus {

  }

  .react-tabs__tab:focus:after {

  }

  .react-tabs__tab-panel {
    @apply hidden
  }

  .react-tabs__tab-panel--selected {
    @apply block
  }
}
